<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.css">
    <style>
        .notice{
    padding: 20px;
    background-color: rgb(166, 236, 227);
    border: 2px solid rgb(2, 132, 97);
    border-radius: 5px;

}

.gradient-box{
    background: linear-gradient(to right, #01740f, #0bf842);
}

.landing{
    background: rgba(0, 62, 42, 0.366);
}

.left-section{
    width: 450px;
    height: 500px;
}

th,td{
    padding: 20px;
}
    </style>
</head>