<!DOCTYPE html>
<html lang="en">
<%- include("includes/head") %>
<body>
    <%- include("includes/header") %>
    <main>
       <div class="row ">
        <div class="col-md-4 col-lg-8 d-flex justify-content-center align-items-center bg-dark gradient-box " style="width: 100%; min-height: 90vh;">
            <div class="card p-2  text-white rounded-5 landing"  style="width: 690px; height: 230px;">
                <p class="m-4 fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officia possimus natus, numquam id officiis deleniti. .</p>
                
                <div class="d-flex justify-content-center">
                    <div class="mx-4">
                        <a href="/signUp_as">
                            <button class="btn btn-success ">Sign Up</button>
                        </a>
                    </div>
                    <div class="mx-4">
                        <a href="/login_as">
                            <button class="btn btn-success ">Login</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
       </div>
    </main>
    <%- include("includes/footer") %>
</body>
</html>